mixin body-src()
	<!-- build:js static/js/vendor/vendor.min.js -->
	script(src='static/js/vendor/vendor.js')
	<!-- /build -->

	<!-- build:js static/js/assembled.min.js -->
	script(src='static/js/assembled.js')
	<!-- /build -->
