//- This block will be filled with page variables
block variables

doctype html
html(lang="#{config.site.lang}")
	head
		//- Meta information
		include ../helpers/head-meta

		//- Head external resources
		include ../helpers/head-src

		//- Include page specific content
		block head-content

	body
		//- Include page specific content
		block body-content

		//- Body assets
		include ../helpers/body-src
