//- Include all helpers from one file
//- Because it's impossible to use recursive folder include
include ../_helpers-list

//- Include all blocks from one file
//- Because it's impossible to use recursive folder include
include ../_blocks-list

//- This block will be filled with required variables
block variables

doctype html
html(lang=pageLang)
	head
		// Meta information
		+head-meta()

		// Head external resources
		+head-src()

	body
		//- Include content from other layouts
		block body-content

		// Browser update screen
		+ie-out({theme: 'light', lang: pageLang, version: 8})

		// Body external resources
		+body-src()

		// GA code
		| <!-- build:template
		| /build -->
